body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

#container{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #212121;
    padding: 16px;

}

#displayPanel{
   display: flex; 
   width: 100%;
   height: 60px;  

  
   flex-direction: column;
   background-color: whitesmoke;
   font-weight: bolder;
   align-items: flex-end;
   font-size: 17px;

  
  

}

.previous{
    height: 30px;
}




.current{
    padding-top: 10px;
 height: 30px;
 font-size: 22px;
    
}


#numpad{
    flex: 200;
    display: flex;
    
    flex-wrap: wrap;
  
}




.key{
    height: 70px;
    width: 72px;
    margin: 7.5px;
    font-weight: bolder;
    
   
}

.operation{
    background-color: slategray;
}


#clear-button,
#equal-button {
    width: 45.5%;
}

#clear-button,
#delete-button{
    background-color: #c91432;
}

